services:

  # Druid MCP Server
  # This service runs the Druid MCP server, which is the backend that connects to Druid.
  druid-mcp-server:
#    image: iunera/druid-mcp-server:latest
    # TODO image wir auf public image setzen
    image: iunera/druid-mcp-server:latest
    pull_policy: always
    env_file:
      - druid.env
    environment:
      SPRING_PROFILES_ACTIVE: http

  # Philter Core
  # This is the main application, the "philter-core". It depends on the `druid-mcp-server`.
  core:
    # TODO change to latest
    image: iunera/philter-core:dev-0.0.1
    pull_policy: always
#    image: backend3
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - app.env
    volumes:
      - philter_data:/data
    depends_on:
#      - ollama # TODO ollama check service bauen
      - druid-mcp-server
    restart: unless-stopped

  # Philter UI
  # This is the frontend application, the "philter-ui". It depends on the `core` service.
  ui:
    # TODO latest
    image: iunera/philter-ui:dev-0.0.1
    pull_policy: always
#    image: frontend4-v2
    ports:
      - "3000:3000"
    env_file:
      - app.env
    depends_on:
      - core
    restart: unless-stopped

volumes:
  philter_data: